@model IEnumerable<FE_Pryecto_FInalAPI.Models.RutaChofer>

@{
    ViewData["Title"] = "ListarRutaChofer";
}

<h1>Listas de Rutas por Chofer</h1>

<p>
    <a asp-action="AbrirNuevaRutaChofer" asp-controller="RutaChofer" class="btn bg-info text-white">Nueva Ruta de Chofer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreRuta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPasajeros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoPasaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRuta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPasajeros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoPasaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.ActionLink("Modificar", "AbrirModificarRutaChofer", new { id=item.Id, codempleado=item.CodEmpleado, nombreruta=item.NombreRuta, cantidadpasajeros=item.CantidadPasajeros, montopasaje=item.MontoPasaje, total=item.Total }, new { @class = "btn btn-warning mr-2" }) |
                @Html.ActionLink("Eliminar", "EliminarRutaChofer", new { codempleado=item.CodEmpleado, nombreruta=item.NombreRuta, montopasaje=item.MontoPasaje }, new { @class = "btn btn-danger ml-2" })
            </td>
        </tr>
}
    </tbody>
</table>
